<h1>Editing Week</h1>

<%= simple_form_for(@week) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<hr>

<table class="table">
	<thead>
		<tr>
			<th>Workout</th>
			<th colspan="2">Submit</th>
		</tr>
	</thead>

	<tbody>
		<% @week.week_collections.each do |src| %>
		<tr>
			<%= simple_form_for(src) do |z| %>

				<td><%= z.input :workout_id, collection: @workouts %></td>
				<td><%= z.button :submit %></td>
				<td><%= link_to 'Destroy', src, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary' %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>

<hr>

<div class="row">
	<div class="col-lg">
		<h3 class="center_this"> Add Row </h3>
		<%= simple_form_for(@weekCollection, method: :post, url: week_collections_path) do |z| %>
				<div style="display: none;"><%= z.input :week_id, input_html: {value: z.object.week_id || @week.id} %></div>
				<div class="form-inputs" ><%= z.input :workout_id, collection: @workouts %></div>

				<div class="form-actions" ><%= z.button :submit, class: 'btn btn-outline-primary' %></div>
		<% end %>

	</div>
</div>




<!-- -->
<%= link_to 'Show', @week %> |
<%= link_to 'Back', weeks_path %>
