<%= link_to 'Show', @set_rep %> |
<%= link_to 'Back', set_reps_path %>

<h1 class="center_this">Editing Set Rep</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-md">
		<%= simple_form_for(@set_rep) do |f| %>
		  <%= f.error_notification %>
		  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

		  <div class="form-inputs">
		    <%= f.input :title %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, class: 'btn btn-outline-primary' %>
		  </div>
		<% end %>
		</div>
	</div>
</div>
			<hr>

<div class="container-fluid">
	<h1 class="center_this">Current SetReps</h1>
	<div class="row">
		<div class="col-md">
		<% @set_rep.set_rep_combos.each do |src| %>
				<%= simple_form_for(src) do |z| %>
				<%= z.input :percent %>
				<%= z.input :reps %>
				<%= z.button :submit, class: 'btn btn-outline-primary' %>
				<%= link_to 'Destroy', src, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-primary' %>
				<% end %>
		<% end %>
		</div>
	</div>
</div>
<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg">
			<h3 class="center_this">Add New Row</h3>
			<%= simple_form_for(@set_rep_combo, method: :post, url: set_rep_combos_path) do |z| %>
					<div style="display: none;"><%= z.input :set_rep_id, input_html: {value: z.object.set_rep || @set_rep.id} %></div>
					<div class="form-inputs" ><%= z.input :percent %></div>
					<div class="form-inputs" ><%= z.input :reps %></div>
					<div class="form-actions" ><%= z.button :submit, class: 'btn btn-outline-primary' %></div>
			<% end %>
		</div>
	</div>
</div>
