
<h1 class="center_this">Set Reps</h1><br><hr>
<%= link_to 'New Set Rep', new_set_rep_path, class: 'btn btn-outline-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Setrep value</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @set_reps.each do |set_rep| %>
      <tr>
        <td> <%= set_rep.title %></td>

        <td>
          <% set_rep.set_rep_combos.each do |x| %>
            <%= x.percent%>% for <%= x.reps %><br>
          <% end %>
        </td>



        <td><%= link_to 'Show', set_rep %></td>
        <td><%= link_to 'Edit', edit_set_rep_path(set_rep) %></td>
        <td><%= link_to 'Destroy', set_rep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


